body{
    background-color: bisque;
}

.titulocarrito{
    margin-top: 40px;
}
.contenedorproductos{
    background-color: white;
    height: 200px;
    border: solid 2px;
    margin: 10px 10px 10px 10px;
}
.contenedorcarrito{
    margin-top: 20px;
    background-color: white;
    height: 200px; 
}
 
.btncolor{
    background-color: rgb(7, 196, 7);
}